# Local .terraform directories
.terraform/

# Terraform state and plans
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log

# Environment variable files may contain credentials
*.tfvars
*.tfvars.json
!*.tfvars.example

# Local state-lock/project artifacts
3-tier-aws-terraform-packer-statelock-project
.terraform.tfstate.lock.info

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc
